html {
    min-height: 235px;
}

body {
    min-width: 450px;
    max-width: 80%;
    background: #f9f9f9;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.modal-header h2 {
    text-align: right;
    padding-left: 15px;
    padding-right: 220px;
    font-size: 24pt;
    color:White;
}

.modal-header {
    background: #556d7c;
    max-height: 70px;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: flex-start;
}   

.modal-body {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#menu {
    display: flex;
    flex-direction: column;
}

.menu-item {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: solid 1px;
    background: #49505e;
    margin-bottom: 8px; 
    margin-left: 7px;
    margin-right: 7px;
    font-size: 20px;
    color: white;
    text-align: center;

}

.menu-item:hover {
    cursor: pointer;
    background: #8b94a5;
}

.menu-item i {
    vertical-align: middle;
}

#recording {
    order: 1;
    flex-basis: 100%;
    z-index: 0;
    margin-top: 20px;
}

.recording-footer{
    background: #556d7c;
    border-radius: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-height: 130px;
    
}
.display-false {
    display: none;
}

.start-recording {
    background-image: url("/images/record.svg");
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    margin-left: 33%;
    margin-right: auto;
    cursor: pointer;
    float: left;
    background-size: 165%;
    background-position: center;


}

.stop-recording {
    background-image: url("/images/stop.svg");
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: 33%;
    cursor: pointer;
    float: right;
    background-size: 165%;
    background-position: center;
}

.not-active {
    opacity: 0.4;
    cursor: default !important;
}

.recording {
    animation: flash linear 1.5s infinite;
}

@keyframes flash {
  0% { opacity: 1; } 
  50% { opacity: .1; } 
  100% { opacity: 1; }
}

#recording-controls {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}
#waveform {
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    display: block;
    position: relative;
    margin-bottom: 10px;

}

#wave-timeline {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    margin-bottom: 16px;
}

#sample_start, #sample_length {
    max-width: 50px;
    margin-right: 10px;
    font-size: 12px;
}

#sample-controls {
    width: 100%;
    margin-top: 10px;
}

#export {
    width: 100%;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 24px;
}

#donate {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
}

#sample-controls {
    text-align: center;
}


#player-control {
    margin-bottom: 12px;
}

#player-control button {
    margin-right: 2px; 
}


.wavesurfer-region:active .wavesurfer-handle {
    background-color: hsla(37, 94%, 51%, 0.48) !important;
}

.wavesurfer-region:hover .wavesurfer-handle {
    background-color: hsla(37, 94%, 51%, 0.48) !important;
}



.reversed-pressed {
    background-color: rgba(52, 152, 219, 0.976);
    color:white

}

#donateMsg {
    color: white;
    font-size: 14px;
    font-weight: 300;
    margin-right: 10px;
    margin-top: auto;
    letter-spacing: 0.3px;
    line-height: 1;
}

#donateButton, #downloadButton, #start-end-control, h2 {
    letter-spacing: 0.3px;
}

.contact-me, .tutorial, .menu {
    color: white;
    font-size: 20px;
    margin-top: 11px;
}

.tutorial {
    margin-left: 10px;
}


.contact-me:hover, .tutorial:hover, .menu:hover {
    color: darkturquoise;
    cursor: pointer;
}

.tippy-tooltip {
    opacity: 0.95;
    font-size: 12px;
}

.tippy-tooltip.light-theme {
    background-color: #f6f6f6;
    border: 1px solid darkslategray;
    color: black;
  }

  .tippy-tooltip.sample-theme {
    background-color:rgba(68,87,99,0.8);
    color: #c8b8c0;
    border-radius: 0px;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
  }


.how-to {
    letter-spacing: 0.3px;
    font-size: 13px;
  }

.how-to h6 {
      font-size: 13px;
      margin-bottom: 2px;
      font-weight: 800;
  }

.delete {
    color: black;
}

.btn-black {
    border-color: black;
}

.delete:hover {
    background-color:black;
    color: white;
}

.btn-black:hover .delete {
    color: white;
}

.delete i:hover .delete {
    background-color: black;
}

.how-to #record {
    font-weight: bold;
    color: red;
}

.how-to #stop {
    font-weight: bold;
}

@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?f6a5ip');
    src:  url('fonts/icomoon.eot?f6a5ip#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?f6a5ip') format('truetype'),
      url('fonts/icomoon.woff?f6a5ip') format('woff'),
      url('fonts/icomoon.svg?f6a5ip#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-stop:before {
    content: "\e900";
  }
  .icon-record:before {
    content: "\e901";
  }
  .icon-wave:before {
    content: "\e902";
  }
  
  .preferences-body {
    margin-left: 50px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
  }

  .preferences-body h4 {
      margin-bottom: 12px;
      font-weight: 500;
  }

  .sample-type-wrapper, .sample-rate-wrapper {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
  }
  .sample-type-wrapper label, .sample-rate-wrapper label {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
    font-weight: 300;
    letter-spacing: 0.3px;
    line-height: 1.3;
    
}